body {
	font-family: arial;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

/* helper classes */
.capitalize {
	text-transform: capitalize;
}

.hidden {
	display: none;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

/* Defaults */

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Forms */

form {
	margin: 0px;
	padding: 0px;
}

label, input, select {
	display: block;
	padding: 6px;
}

input[type=submit] {
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	margin: 16px;
	font-size: 1.3em;
	padding: 12px;
	cursor: pointer;
	color: #555;
}

/* Columns */

.column {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.column-half {
	width: 48%;
}

.column-quarter {
	width: 24%;
}

/* Theming */

header {
	background-color: #1AA1E1;
	height: 80px;
	position: relative;
	font-size: 1.6em;
}

header h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 100px;
}

.navigation {
	font-size: 1.2em;
	background-color: #efefef;
	min-height: 42px;
}

.navigation a {
	border-left: 6px solid transparent;
	display: inline-block;
	width: 8%;
	text-decoration: none;
	padding: 12px;
	text-align: center;
}

.navigation a:hover, .navigation a.current {
	border-left: 6px solid #1AA1E1;
}

.navigation, .navigation a {
	color: #555;
}

#userStatus {
	float:right;
	min-width: 5%;
	padding:12px 20px;
}

.subNav {
	background-color: transparent;
	font-size: 1.1em;
}

.subNav a {
	padding: 6px;
	width: 4%;
}

.subNav a:hover {
	background-color: #efefef;
}

.subNav a.current {	
	background-color: #efefef;
}

body > .container {
	max-width: 1024px;
	margin: 60px auto 0 auto;
}

/* Data presentation */

table.list {
	width: 100%;
}

table.list th {
	background-color: #1AA1E1;
	color: #efefef;
}

table.list td {
	padding: 4px;
}

table.list tr:nth-child(odd) {
	background-color: #efefef;
}

/* javascript manipulations */

.blur {
  -webkit-filter: blur(3px) grayscale(70%);
  filter: blur(3px);
}

#theModal {
	display: none;
	border: 1px solid #555;
	background-color: #fff;
	position: absolute;
	top: 22%;
	left: 50%;
	width: 40%;
	min-height: 300px;
	margin-left: -20%;
	z-index: 10;	
}

#theModal .header {
	border-bottom: 1px solid #555;
	background-color: #1AA1E1;
	text-align: right;
	padding: 4px;
}

#theModal .header, #theModal .header a {
	color: #efefef;
}

#theModal .header a {
	text-decoration: none;
}

#theModal .content {
	padding: 18px;
}

#theOverlay{
	display: none;
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 2;
	background-color: rgba(0,0,0,0.5);
}




