header > h1 {
	font-size: 1.8em;
}

.subNav {
	width: 100%;
	display: block;
}

#modalContent,.page-sales #modalContent {
	margin-top: 240px;
}

.page-header {
	position: relative;
}

#doSearch {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: .8em;
}

#searchTerm {
	width: 20%;
}

td.actions a {
	display: block;
}

#theModal {
	width: 100%;
	margin-left: 0;
	left: 0;
	top: 10%;
}

.navigation > a {
	min-width: 12%;
}

#userStatus {
	padding: 12px 4px;
}

.column {
	display: block;
}

.column-third,.column-two-thirds {
	width: 100%;
}