#doSearch {
	display: block;
}

#modalContent {
	margin-top: 280px;
}

#theModal {
	width: 80%;
	margin-left: -40%;
}

.page-header h1 {
	margin-right: 40px;
}

.subNav {
	min-width: 50%;
}

.subNav a {
	min-width: 25%;
}

.column {
	display: block;
}

.column-third,.column-two-thirds {
	width: 100%;
}